.body {
  font-family: Google Sans, arial, sans-serif;
}

h1 {
  color: #878787;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
}
ul {
  margin: o;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(112, 117, 122);
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #8c9094;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
#temperature {
  color: rgb(32, 33, 36);
  font-weight: 400;
  font-size: 60px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
}

.weather-temperature .active {
  color: rgb(32, 33, 36);
  cursor: default;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20ps;
  text-align: center;
  color: 000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
